.products{
    list-style:none;
    display:grid;
    grid-template-columns: repear(3,1fr);
    gap:10px;
}

.product-item{
    border:1px solid #222;
    padding:10px;

    &__image {
        width:100%;
        image:150px;
        object-fit: contain;
    }
}